<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ページのメタデータとスタイルシートを設定 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BasicSample.styles.css" />
    <HeadOutlet />
</head>

<body>
    <!-- ルートコンポーネントをレンダリング -->
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
